.date-picker-wrapper
	z-index $zi-booking
	.close-booking
		position absolute
		right 0
		top -5px
		padding: 3px 5px;
		margin: 0
		color $gray-3e
		font-size 25px
		cursor pointer
		&:before
			content '\e007'
			font-family $oasis-font
			display block