.card
	&--container
		display flex
		flex-flow row
		flex-wrap wrap
		justify-content center
	&--topimage
		&--item
			padding 10px 0
			&__image
				position relative
				display block
				&--img
					img
						max-height 450px
						height: 100%;
						width: 100%;
						object-fit: cover;
						display: block;
						flex-shrink: 0;
				&--title
					position: absolute;
					top: 0;
					left: 50%;
					transform: translate(-50%,0);
					width: 100%;
					padding-top 20px
					text-align center
					z-index 1
					h2
					h3
						color white
						font-size 20px
						line-height 24px
						text-transform uppercase
						font-weight 400
						letter-spacing 1px
						+from-width(5)
							letter-spacing 5px
					img
						margin 0 auto
					&.centered
						top 50%
						transform: translate(-50%,-50%);
						padding-top 0
						&-md
							top: 40%;
							transform: translate(-50%,-40%);
							padding-top 0
							+from-width(4)
								top 50%
								transform: translate(-50%,-50%);
				&--buttons
					// padding-top 10px
					text-align center
					a
						width auto
						font-size 10px
						&:nth-child(2)
							margin 10px 0
					+from-width(4)
						position absolute
						left 0
						bottom 0
						width 100%
						height 13%
						background linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0,0,0,0.5) 100%)
						padding 0
						a:nth-child(2)
							margin 0 
						a
							min-width 30.33%
					+from-width(5)
						height 23%
					+from-width(6)
						height 17%
				&--footer
					position absolute
					bottom 20px
					left 50%
					transform translateX(-50%)
					z-index 1
			&__info
				color $gray-32
				padding 10px 0
				text-align center
				.card--imageinfo--item__info--descr
					font-size 12px
					line-height 20px
					letter-spacing 1px
					padding 10px 0
					text-align justify
					margin 0 20px
					+from-width(5)
						text-align: center
	&--item-over
		&--item
			position: relative;
			overflow: hidden;
		&-container
			position relative
			+from-width(5)
				background: rgba(cadetblue, .3)
				position: absolute;
				top: 10px;
				left: 10px;
				width: calc(100% - 20px);
				height: calc(100% - 20px);
				display: flex;
				flex-flow: row;
				flex-wrap: wrap;
				align-items: center;
				justify-content: center;
				overflow hidden
			.img-background
				height: 100%;
				width: 100%;
				object-fit: cover;
				display: block;
				flex-shrink: 0;
				max-height 230px
				min-height 230px
				+from-width(5)
					max-height 320px
					min-height 320px
		&-content
			position: absolute;
			left 50%
			top 50%
			transform translate(-50%,-50%)
			text-align: center;
			max-width 150px
			z-index 1
			color white
			+from-width(5)
				max-width 60%
			img
				padding-bottom 10%
				margin 0 auto
			span
				font-weight 200
				font-size 15px
				letter-spacing 1px
	&--leftright-text
		&--item
			display flex
			flex-flow row
			flex-wrap wrap
			justify-content center
			flex-basis 100%
			max-width 100%
			&:nth-child(even)
				.card--leftright-text--item__info
					+from-width(5)
						order -1
						padding-right 30px
						padding-left 0
						text-align right
			&__image
				flex-basis 100%
				max-width 100%
				+from-width(5)
					flex-basis 60%
					max-width 60%
				img
					height: 100%;
					width: 100%;
					object-fit: cover;
					display: block;
					flex-shrink: 0;
			&__info
				flex-basis 100%
				max-width 100%
				display flex
				flex-flow row
				flex-wrap wrap
				justify-content center
				align-items center
				text-align center
				padding 10px 0 20px
				+from-width(5)
					flex-basis 40%
					max-width 40%
					padding-left 30px
					text-align left
				.title_card
					font-size 15px
					color $gray-32
					letter-spacing 3.5px
					text-transform uppercase
					+from-width(5)
						font-size 25px
						line-height 30px
						letter-spacing 6px
						font-weight 500
				p
					max-width 90%
					margin 0 auto
					color $gray-32
					font-size 14px
					line-height 16px
					padding 10px 0	
					font-weight 300
					+from-width(5)
						max-width 100%
				.more_information
					color $gray-32
					font-size 15px
					line-height 28px	
					font-weight 600
					display inline-block
					&:after
						content ''
						border-bottom 1px solid black
						display block
						width 80%
						margin-left 5%
					.icon
						&:before
							font-size 16px
							vertical-align middle
							margin-left 5px
					