.select
	position relative
	label
		&:after
			content '\e017'
			font-family $oasis-font
			display: block;
			position: absolute;
			color: $gray-3e;
			top: 0;
			right: 10px;
			font-size: 16px;
			line-height: 45px;
			z-index: 100;
			pointer-events: none;		
	&.inline
		display inline-block
		label
			line-height 45px
			vertical-align middle