.white-popup
	background: #fff
	max-width 960px
	margin:0 auto
	position relative
	padding: 40px
	&-xs
		padding: 30px
		max-width 760px
		
.deco
	&-popup
		position relative
		margin 0 auto
		padding 0
		max-width 960px
		background url('../img/modals/bkgr1.png')
		color white
		&-container
			padding 1rem
			position relative
			z-index 1
			+from-width(4)
				padding 40px
				max-width 80%
				margin 0 auto
				text-align center
			&.full
				+from-width(4)
					max-width 100%
		&-content
			display flex
			flex-flow row
			flex-wrap wrap
			justify-content center
			align-items center
			&--image
				flex-basis 100%
				max-width 100%
				+from-width(4)
					flex-basis 58.33333333%
					max-width 58.33333333%
			&--info
				flex-basis 100%
				max-width 100%
				padding 0 20px
				text-align center
				padding-top 20px
				+from-width(4)
					flex-basis 41.66666667%
					max-width 41.66666667%
					padding-top 0
				img
					max-height 80px
				&--descr
					max-width 95%
					margin 0 auto
					padding-top 20px
					p
						color white
		
		.mfp-close
			color white
			width: 80%;
			right: 50%;
			top 20px
			margin: 0 auto;
			transform: translateX(50%);
			opacity: 1;
			text-align right
			&:after
				content '\e007'
				font-family $oasis-font
				font-size 30px
				color white
				line-height 44px
			
.list_items
	display inline-block
	padding 50px 0
	+from-width(4)
		max-width 80%
	ul
		> li
			font-weight 200
			font-size 16px
			line-height 18px
			position relative
			margin-left 10px
			letter-spacing 1px
			+from-width(4)
				font-size 14px
				line-height 16px
		
		&.icon
			li
				margin-left 70px
				line-height 22px
				+from-width(4)
					margin-left 10px
				&.costo_extra
					&:after
						content: '';
						width: 8px;
						height: 8px;
						border-radius: 100%;
						background: #30E9CA
						display inline-block
						// position: absolute;
						// left: -20px;
						// top: 50%;
						// transform: translateY(-50%);
.info_costo_extra
	text-align right
	span
		color #30E9CA
		font-weight 100
		font-size 13px
		letter-spacing
		&:before
			content: '';
			width: 8px;
			height: 8px;
			border-radius: 100%;
			background: #30E9CA
			display inline-block
			margin-right 10px
			
.col1-col2
	li
		width 90%
		text-align justify
		padding 5px
		+from-width(4)
			padding 10px 10px 10px 0
			width calc(50% - 10px)
			float left
			text-align left