.booking
	.select2
		&-container
			line-height 45px
			.select2-selection--single
				height 45px
.select2
	&-container
		&--custom-select--adultos_ninos
			text-align center
			&:focus
				outline none
			span
				&:focus
					outline none
			.select2-dropdown
				width 35px !important
				border none
				box-shadow 0 15px 20px 0 rgba(0,0,0,0.2)
				font-size 12px
