.slick
	&-dotted
		&.slick-slider
			margin-bottom 60px
	&-justify
		.slick-slide
			text-align justify
	&-arrow
		&.left-arrow
		&.right-arrow
			z-index 100
			font-size 54px
			position absolute
			top 50%
			transform translateY(-50%)
			&:hover
				cursor pointer
			&--white
				color white
		&.left-arrow
			left 0
		&.right-arrow
			right 0
		&-out
			padding 0 50px
		&-dark
			.left-arrow
			.right-arrow
				color $gray-32
.slide_mobile
	&.slick
		&-arrow
			&-out
				+from-width(5)
					padding 0 