.tabs
	&-navbar
		nav
			width 100%
			ul
				display flex
				flex-flow row
				flex-wrap wrap
				align-items center
				justify-content center
				li
					label:hover
						cursor pointer
		> input
		section > div
			display none
		
		#tab1:checked ~ section > .tab1
		#tab2:checked ~ section > .tab2
			display block
			
		#tab1:checked ~ nav .tab1
		#tab2:checked ~ nav .tab2
			color red
			.gradient-card-shadow
				display block

	&-image
		&--container
			display flex
			flex-flow row
			flex-wrap wrap
			align-items center
			justify-content center
			
		&--item
			flex-basis 100%
			max-width 100%
			+from-width(5)
				flex-basis 50%
				max-width 50%
				&:first-child
					padding-right 9px
				&:last-child
					padding-left 9px
			&-container
				position relative
				
			&-content
				position relative
				display flex
				flex-flow row
				flex-wrap wrap
				align-items center
				justify-content center
				text-align center
				z-index 1
				color white
				padding 40px 0 20px
				margin 10px 0 
				+from-width(5)
					padding 60px 0 40px
					margin 0 
				h3
				h2
				span
					text-transform uppercase
					font-size 18px
					letter-spacing 3.5px
					font-weight 400
					flex-basis 100%
					max-width 100%
					+from-width(4)
						font-size 25px
						letter-spacing 5px
				.tabs-icon
					flex-basis 100%
					max-width 100%
					padding 35px 0
				a.btn
					flex-basis 50%
					max-width 150px
					line-height 32px
					height 32px
					&:hover
						background white
			&.small
				cursor pointer
				position relative
				flex-basis 50%
				max-width 50%
				.tabs-image--item-container
					filter gray
					filter grayscale(1)
					&:after
						// background rgba($gocHov, 0.45)
						background radial-gradient(circle at 50% 0, rgba(255,255,255,0.5) 0%, rgba(0,0,0,0.5) 100%)
					&:first-child
						margin-right 5px
						+from-width(5)
							margin 0 
					&:last-child
						margin-left 5px
						+from-width(5)
							margin 0
				.tabs-image--item-content	
					padding 5px 0
					margin 0
					transition: 0.5s all ease
					+from-width(4)
						padding 20px 0 0px
					span
						font-size 12px
						letter-spacing 1px
						+from-width(4)
							padding 20px 0 0px
							font-size 18px
							letter-spacing 3.5px
					.tabs-icon
						padding 5px 0
						order -1
						+from-width(4)
							padding 20px 0
							order 0
						img
							max-width 30px
							+from-width(4)
								max-width 100%
				.gradient-card-shadow
					display none
					transition: 0.5s all ease
				// &.active
				// 	+from-width(4)
				// 		.gradient-card-shadow
				// 			display block

				// &.tab-1.active ~ .tabs--slide .tabs--slide-content.tab-1
				// &.tab-2.active ~ .tabs--slide .tabs--slide-content.tab-2
				// 	z-index 100
				// 	opacity 1
				// 	transition opacity ease-out 0.2s 0.1s
			&.restaurantes
				.tabs-image--item-container
					background url('../img/rest_y_bares/restaurante.jpg') center no-repeat
				&.small
					.tabs-image--item-container
						background url('../img/rest_y_bares/restaurante-tab.jpg') center no-repeat
			&.bares
				.tabs-image--item-container
					background url('../img/rest_y_bares/bar.jpg') center no-repeat		
				&.small
					.tabs-image--item-container
						background url('../img/rest_y_bares/bar-tab.jpg') center no-repeat
	&--slide
		position relative
		z-index 5
		width 100%
		clear both
		&-content
			position absolute
			top 0
			left 0
			z-index 1
			opacity 0
			width 100%
			transition opacity linear .1s
		

