.main-section
	&__entretenimiento
		&--cards
			&--item
				flex-basis 100%
				max-width 100%
				overflow hidden
				+from-width(5)
					flex-basis 50%
					max-width 50%
					&:nth-child(odd)
						padding-right 9px
					&:nth-child(even)
						padding-left 9px
				.card--topimage--item__image
					+from-width(5)
						top: 10px;
					&--img
						min-height 300px
						display block
						img
							min-height 300px
					&--title
						img
							max-height 100px
							max-width 50%
					&--footer
						a.btn
							min-width 160px
							line-height 32px
							height 32px
							+from-width(4)
								min-width inherit
			