.grand-oasis-cancun
	a.btn-reserva
		background $gocBkg
	a.btn-transparent
		color $gocBkg
		border 1px solid $gocBkg
		box-shadow none
	a.btn-transparent-border
		color $gocBkg
		border 1px solid $gocBkg
	a.more_information
		color $gocBkg
		&:after
			border-bottom 1px solid $gocBkg
	a.btn.btn-transparent-white.btn-transparent-flat
		&:hover
			color $gocBkg
			background white
	.gradient-after
		&:after
			background rgba($gocHov, 0.45)
		&-strong
			&:after
				background rgba($gocHov, 0.6)
	.booking
		.btn-reserva-booking
			background  $gocBkg
		.title--booking
			color $gocBkg
		&__home
			+from-width(5)
				.booking-container
					background url('../img/booking/goc-book.png') center no-repeat			
	.principal
		background $gocBkg
		+from-width(5)
			background none
		.logo_field
			.icon
				color $gocColor
		.lang_d
			> li.language
				.submenu li
					color $gocColor
					&.active
					&:hover
						background $gocBkg
	.title--section
		color $gocColor
		&:after
			border-bottom 1px solid $gocColor
	.newsletter
		.btn-newsletter
			background  $gocBkg
	.card--home--room
		.card--topimage--item
			&__image--buttons
				a
					color $gocBkg
					border 1px solid $gocBkg
					box-shadow none
					+from-width(4)
						color white
						border 1px solid white
						box-shadow 0 2px 14px 0 rgba(0,0,0,0.1)
	// .tabs-image--item-content
	// 	a.btn
	// 		&:hover
	// 			color $gocBkg
	.grid-gallery--item-images--item
		a:hover
			+from-width(5)
				&:after
					background rgba($gocHov, 0.65)
	.footer--redes-sociales
		color $gocBkg
	.main-section
		&__rooms
			&--room
				.room--description
					h2
						color white
						+from-width(5)
							color $gocBkg
		&__rest_y_bares
			.tabs-image--item.active
				.tabs-image--item-container
					filter none
					&:after
						background rgba($gocHov, 0.45)
				
.the-pyramid-at-grand-oasis
	a.btn-reserva
		background $black
	a.btn-transparent
		color $black
		border 1px solid $black
		box-shadow none
	a.btn-transparent-border
		color $black
		border 1px solid $black
	.booking
		.btn-reserva-booking
			background  $black
		.title--booking
			color $black
		&__home
			+from-width(5)
				.booking-container
					background url('../img/booking/pyr-book.png') center no-repeat			
	.principal
		background $black
		+from-width(5)
			background none
		.logo_field
			.icon
				color $black
		.lang_d
			> li.language
				.submenu li
					color $black
					&.active
					&:hover
						background $black
	.title--section
		color $black
		&:after
			border-bottom 1px solid $black
	.newsletter
		.btn-newsletter
			background  $black
	.card--home--room
		.card--topimage--item
			&__image--buttons
				a
					color $black
					border 1px solid $black
					box-shadow none
					+from-width(4)
						color white
						border 1px solid white
						box-shadow 0 2px 14px 0 rgba(0,0,0,0.1)
	.tabs-image--item-container
		&:after
			background rgba($black, 0.45)
	.tabs-image--item-content
		a.btn
			&:hover
				color $black
	.grid-gallery--item-images--item
		a:hover
			+from-width(5)
				&:after
					background rgba($black, 0.65)
	.footer--redes-sociales
		color $black
	.main-section
		&__rooms
			&--room
				.room--description
					h2
						color white
						+from-width(5)
							color $black
		&__rest_y_bares
			.tabs-image--item.active
				.tabs-image--item-container
					filter none
					&:after
						background rgba($black, 0.45)
				