.the-pyramid-at-grand-oasis
	//misc
	a.btn-reserva
	input.btn-reserva
		background $pyrColor
	input
		&.btn-reserva
			border 0
	a
		&.btn-transparent
			color $pyrColor
			border 1px solid $pyrColor
			box-shadow none
		&.btn-transparent-border
			color $pyrColor
			border 1px solid $pyrColor
		&.more_information
			color $pyrColor
			&:after
				border-bottom 1px solid $pyrColor
		&.btn.btn-transparent-white.btn-transparent-flat
			&:hover
				color $pyrColor
				background white
	.gradient-after
		&:after
			background rgba($pyrColor, 0.45)
		&-strong
			&:after
				background rgba($pyrColor, 0.6)
	.title--section
		color $pyrColor
		&:after
			border-bottom 1px solid $pyrColor

	//booking
	.select2
		&-container
			&--custom-select--adultos_ninos
				.select2-dropdown
					color $pyrColor
				.select2-results__option--highlighted
					color white
					background $pyrColor
	.date-picker-wrapper
		.month-wrapper table .day
			&.checked
				background-color rgba($pyrColor, .8) 
				color white !important
			&.toMonth.hovering
				background-color rgba($pyrColor, .6)
				color white !important
			&.real-today
				background-color $pyrColor
				color white !important
		.first-date-selected
		.last-date-selected
			background-color $pyrColor !important
		.date-range-length-tip
			background-color $pyrColor
			color white
			&:after
				border-top 4px solid $pyrColor
	.booking
		.btn-reserva-booking
			background  $pyrColor
		.title--booking
			+from-width(5)
				color $pyrColor
		.booking__cupon
			&__label
				span
					color $pyrColor
			&__input
				input
					+from-width(5)
						border 1px solid $pyrColor
						color $pyrColor
						&::placeholder
							color $pyrColor
				&--button
					+from-width(5)
						color $pyrColor
		&__home
			+from-width(5)
				.booking-container
					background url('../img/booking/pyr-book.png') center no-repeat	
	//menu
	.principal
		background $pyrColor
		+from-width(5)
			background none
		.logo_field
			.icon
				color $pyrColor
		.lang_d
			> li.language
				.submenu li
					color $pyrColor
					&.active
					&:hover
						background $pyrColor
	//sections
	.main-section
		&__rooms
			&--room
				.room--description
					h2
						color white
						+from-width(5)
							color $pyrColor
		&__rest_y_bares
			#tab1:checked ~ nav .tab1
			#tab2:checked ~ nav .tab2
				&.tabs-image--item.small 
					.tabs-image--item-container
						filter none
						&:after
							background rgba($pyrColor, 0.45)
	//mapa
	.map-container_info_hotel
		h3
			color $pyrColor				
	//cards
	.card--home--room
		.card--topimage--item
			&__image--buttons
				a
					color $pyrColor
					border 1px solid $pyrColor
					box-shadow none
					+from-width(4)
						color white
						border 1px solid white
						box-shadow 0 2px 14px 0 rgba(0,0,0,0.1)
	//galeria
	.grid-gallery--item-image
		a:hover
			+from-width(5)
				&:after
					background rgba($pyrColor, 0.65)
	//redes sociales
	.footer--redes-sociales
		color $pyrColor	
	//newsletter				
	.newsletter
		.btn-newsletter
			background  $pyrColor	

.the-sian-ka-an-at-grand-sens
.the-sian-ka-an-at-grand-tulum
	//misc
	a.btn-reserva
	input.btn-reserva
		background $skColor
	input
		&.btn-reserva
			border 0
	a
		&.btn-transparent
			color $skColor
			border 1px solid $skColor
			box-shadow none
		&.btn-transparent-border
			color $skColor
			border 1px solid $skColor
		&.more_information
			color $skColor
			&:after
				border-bottom 1px solid $skColor
		&.btn.btn-transparent-white.btn-transparent-flat
			&:hover
				color $skColor
				background white
	.gradient-after
		&:after
			background rgba($skColor, 0.45)
		&-strong
			&:after
				background rgba($skColor, 0.6)
	.title--section
		color $skColor
		&:after
			border-bottom 1px solid $skColor

	//booking
	.select2
		&-container
			&--custom-select--adultos_ninos
				.select2-dropdown
					color $skColor
				.select2-results__option--highlighted
					color white
					background $skColor
	.date-picker-wrapper
		.month-wrapper table .day
			&.checked
				background-color rgba($skColor, .8) 
				color white !important
			&.toMonth.hovering
				background-color rgba($skColor, .6)
				color white !important
			&.real-today
				background-color $skColor
				color white !important
		.first-date-selected
		.last-date-selected
			background-color $pyrColor !important
		.date-range-length-tip
			background-color $pyrColor
			color white
			&:after
				border-top 4px solid $pyrColor
	.booking
		.btn-reserva-booking
			background  $pyrColor
		.title--booking
			+from-width(5)
				color $pyrColor
		.booking__cupon
			&__label
				span
					color $pyrColor
			&__input
				input
					+from-width(5)
						border 1px solid $pyrColor
						color $pyrColor
						&::placeholder
							color $pyrColor
				&--button
					+from-width(5)
						color $pyrColor
		&__home
			+from-width(5)
				.booking-container
					background url('../img/booking/sks-book.png') center no-repeat	
	//menu
	.principal
		background $skColor
		+from-width(5)
			background none
		.logo_field
			.icon
				color $skColor
		.lang_d
			> li.language
				.submenu li
					color $skColor
					&.active
					&:hover
						background $skColor
	//sections
	.main-section
		&__rooms
			&--room
				.room--description
					h2
						color white
						+from-width(5)
							color $skColor
		&__rest_y_bares
			#tab1:checked ~ nav .tab1
			#tab2:checked ~ nav .tab2
				&.tabs-image--item.small 
					.tabs-image--item-container
						filter none
						&:after
							background rgba($skColor, 0.45)
	//mapa
	.map-container_info_hotel
		h3
			color $skColor				
	//cards
	.card--home--room
		.card--topimage--item
			&__image--buttons
				a
					color $skColor
					border 1px solid $skColor
					box-shadow none
					+from-width(4)
						color white
						border 1px solid white
						box-shadow 0 2px 14px 0 rgba(0,0,0,0.1)
	//galeria
	.grid-gallery--item-image
		a:hover
			+from-width(5)
				&:after
					background rgba($skColor, 0.65)
	//redes sociales
	.footer--redes-sociales
		color $skColor	
	//newsletter				
	.newsletter
		.btn-newsletter
			background  $skColor	

.the-sian-ka-an-at-grand-tulum
	.booking__home
		+from-width(5)
			.booking-container
				background url('../img/booking/skt-book.png') center no-repeat
				
.grand-oasis-cancun
.oasis-cancun-lite
	//misc
	a.btn-reserva
	input.btn-reserva
		background $cancunColor
	input
		&.btn-reserva
			border 0
	a
		&.btn-transparent
			color $cancunColor
			border 1px solid $cancunColor
			box-shadow none
		&.btn-transparent-border
			color $cancunColor
			border 1px solid $cancunColor
		&.more_information
			color $cancunColor
			&:after
				border-bottom 1px solid $cancunColor
		&.btn.btn-transparent-white.btn-transparent-flat
			&:hover
				color $cancunColor
				background white
	.gradient-after
		&:after
			background rgba($cancunColor, 0.45)
		&-strong
			&:after
				background rgba($cancunColor, 0.6)
	.title--section
		color $cancunColor
		&:after
			border-bottom 1px solid $cancunColor

	//booking
	.select2
		&-container
			&--custom-select--adultos_ninos
				.select2-dropdown
					color $cancunColor
				.select2-results__option--highlighted
					color white
					background $cancunColor
	.date-picker-wrapper
		.month-wrapper table .day
			&.checked
				background-color rgba($cancunColor, .8) 
				color white !important
			&.toMonth.hovering
				background-color rgba($cancunColor, .6)
				color white !important
			&.real-today
				background-color $cancunColor
				color white !important
		.first-date-selected
		.last-date-selected
			background-color $cancunColor !important
		.date-range-length-tip
			background-color $cancunColor
			color white
			&:after
				border-top 4px solid $cancunColor
	.booking
		.btn-reserva-booking
			background  $cancunColor
		.title--booking
			+from-width(5)
				color $cancunColor
		.booking__cupon
			&__label
				span
					color $cancunColor
			&__input
				input
					+from-width(5)
						border 1px solid $cancunColor
						color $cancunColor
						&::placeholder
							color $cancunColor
				&--button
					+from-width(5)
						color $cancunColor
		&__home
			+from-width(5)
				.booking-container
					background url('../img/booking/goc-book.png') center no-repeat	
	//menu
	.principal
		background $cancunColor
		+from-width(5)
			background none
		.logo_field
			.icon
				color $cancunColor
		.lang_d
			> li.language
				.submenu li
					color $cancunColor
					&.active
					&:hover
						background $cancunColor
	//sections
	.main-section
		&__rooms
			&--room
				.room--description
					h2
						color white
						+from-width(5)
							color $cancunColor
		&__rest_y_bares
			#tab1:checked ~ nav .tab1
			#tab2:checked ~ nav .tab2
				&.tabs-image--item.small 
					.tabs-image--item-container
						filter none
						&:after
							background rgba($cancunColor, 0.45)
	//mapa
	.map-container_info_hotel
		h3
			color $cancunColor				
	//cards
	.card--home--room
		.card--topimage--item
			&__image--buttons
				a
					color $cancunColor
					border 1px solid $cancunColor
					box-shadow none
					+from-width(4)
						color white
						border 1px solid white
						box-shadow 0 2px 14px 0 rgba(0,0,0,0.1)
	//galeria
	.grid-gallery--item-image
		a:hover
			+from-width(5)
				&:after
					background rgba($cancunColor, 0.65)
	//redes sociales
	.footer--redes-sociales
		color $cancunColor	
	//newsletter				
	.newsletter
		.btn-newsletter
			background  $cancunColor

.oasis-cancun-lite
	.booking__home
		+from-width(5)
			.booking-container
				background url('../img/booking/ocl-book.png') center no-repeat
				
.grand-oasis-sens
	//misc
	a.btn-reserva
	input.btn-reserva
		background $sensColor
	input
		&.btn-reserva
			border 0
	a
		&.btn-transparent
			color $sensColor
			border 1px solid $sensColor
			box-shadow none
		&.btn-transparent-border
			color $sensColor
			border 1px solid $sensColor
		&.more_information
			color $sensColor
			&:after
				border-bottom 1px solid $sensColor
		&.btn.btn-transparent-white.btn-transparent-flat
			&:hover
				color $sensColor
				background white
	.gradient-after
		&:after
			background rgba($sensColor, 0.45)
		&-strong
			&:after
				background rgba($sensColor, 0.6)
	.title--section
		color $sensColor
		&:after
			border-bottom 1px solid $sensColor

	//booking
	.select2
		&-container
			&--custom-select--adultos_ninos
				.select2-dropdown
					color $sensColor
				.select2-results__option--highlighted
					color white
					background $sensColor
	.date-picker-wrapper
		.month-wrapper table .day
			&.checked
				background-color rgba($sensColor, .8) 
				color white !important
			&.toMonth.hovering
				background-color rgba($sensColor, .6)
				color white !important
			&.real-today
				background-color $sensColor
				color white !important
		.first-date-selected
		.last-date-selected
			background-color $sensColor !important
		.date-range-length-tip
			background-color $sensColor
			color white
			&:after
				border-top 4px solid $sensColor
	.booking
		.btn-reserva-booking
			background  $sensColor
		.title--booking
			+from-width(5)
				color $sensColor
		.booking__cupon
			&__label
				span
					color $sensColor
			&__input
				input
					+from-width(5)
						border 1px solid $sensColor
						color $sensColor
						&::placeholder
							color $sensColor
				&--button
					+from-width(5)
						color $sensColor
		&__home
			+from-width(5)
				.booking-container
					background url('../img/booking/gos-book.png') center no-repeat	
	//menu
	.principal
		background $sensColor
		+from-width(5)
			background none
		.logo_field
			.icon
				color $sensColor
		.lang_d
			> li.language
				.submenu li
					color $sensColor
					&.active
					&:hover
						background $sensColor
	//sections
	.main-section
		&__rooms
			&--room
				.room--description
					h2
						color white
						+from-width(5)
							color $sensColor
		&__rest_y_bares
			#tab1:checked ~ nav .tab1
			#tab2:checked ~ nav .tab2
				&.tabs-image--item.small 
					.tabs-image--item-container
						filter none
						&:after
							background rgba($sensColor, 0.45)
	//mapa
	.map-container_info_hotel
		h3
			color $sensColor				
	//cards
	.card--home--room
		.card--topimage--item
			&__image--buttons
				a
					color $sensColor
					border 1px solid $sensColor
					box-shadow none
					+from-width(4)
						color white
						border 1px solid white
						box-shadow 0 2px 14px 0 rgba(0,0,0,0.1)
	//galeria
	.grid-gallery--item-image
		a:hover
			+from-width(5)
				&:after
					background rgba($sensColor, 0.65)
	//redes sociales
	.footer--redes-sociales
		color $sensColor	
	//newsletter				
	.newsletter
		.btn-newsletter
			background  $sensColor
	
.grand-oasis-tulum
.oasis-tulum-lite
	//misc
	a.btn-reserva
	input.btn-reserva
		background $tulumColor
	input
		&.btn-reserva
			border 0
	a
		&.btn-transparent
			color $tulumColor
			border 1px solid $tulumColor
			box-shadow none
		&.btn-transparent-border
			color $tulumColor
			border 1px solid $tulumColor
		&.more_information
			color $tulumColor
			&:after
				border-bottom 1px solid $tulumColor
		&.btn.btn-transparent-white.btn-transparent-flat
			&:hover
				color $tulumColor
				background white
	.gradient-after
		&:after
			background rgba($tulumColor, 0.45)
		&-strong
			&:after
				background rgba($tulumColor, 0.6)
	.title--section
		color $tulumColor
		&:after
			border-bottom 1px solid $tulumColor

	//booking
	.select2
		&-container
			&--custom-select--adultos_ninos
				.select2-dropdown
					color $tulumColor
				.select2-results__option--highlighted
					color white
					background $tulumColor
	.date-picker-wrapper
		.month-wrapper table .day
			&.checked
				background-color rgba($tulumColor, .8) 
				color white !important
			&.toMonth.hovering
				background-color rgba($tulumColor, .6)
				color white !important
			&.real-today
				background-color $tulumColor
				color white !important
		.first-date-selected
		.last-date-selected
			background-color $tulumColor !important
		.date-range-length-tip
			background-color $tulumColor
			color white
			&:after
				border-top 4px solid $tulumColor
	.booking
		.btn-reserva-booking
			background  $tulumColor
		.title--booking
			+from-width(5)
				color $tulumColor
		.booking__cupon
			&__label
				span
					color $tulumColor
			&__input
				input
					+from-width(5)
						border 1px solid $tulumColor
						color $tulumColor
						&::placeholder
							color $tulumColor
				&--button
					+from-width(5)
						color $tulumColor
		&__home
			+from-width(5)
				.booking-container
					background url('../img/booking/got-book.png') center no-repeat	
	//menu
	.principal
		background $tulumColor
		+from-width(5)
			background none
		.logo_field
			.icon
				color $tulumColor
		.lang_d
			> li.language
				.submenu li
					color $tulumColor
					&.active
					&:hover
						background $tulumColor
	//sections
	.main-section
		&__rooms
			&--room
				.room--description
					h2
						color white
						+from-width(5)
							color $tulumColor
		&__rest_y_bares
			#tab1:checked ~ nav .tab1
			#tab2:checked ~ nav .tab2
				&.tabs-image--item.small 
					.tabs-image--item-container
						filter none
						&:after
							background rgba($tulumColor, 0.45)
	//mapa
	.map-container_info_hotel
		h3
			color $tulumColor				
	//cards
	.card--home--room
		.card--topimage--item
			&__image--buttons
				a
					color $tulumColor
					border 1px solid $tulumColor
					box-shadow none
					+from-width(4)
						color white
						border 1px solid white
						box-shadow 0 2px 14px 0 rgba(0,0,0,0.1)
	//galeria
	.grid-gallery--item-image
		a:hover
			+from-width(5)
				&:after
					background rgba($tulumColor, 0.65)
	//redes sociales
	.footer--redes-sociales
		color $tulumColor	
	//newsletter				
	.newsletter
		.btn-newsletter
			background  $tulumColor	

.oasis-tulum-lite
	.booking__home
		+from-width(5)
			.booking-container
				background url('../img/booking/otl-book.png') center no-repeat
				
.grand-oasis-palm
.oasis-palm
	//misc
	a.btn-reserva
	input.btn-reserva
		background $palmColor
	input
		&.btn-reserva
			border 0
	a
		&.btn-transparent
			color $palmColor
			border 1px solid $palmColor
			box-shadow none
		&.btn-transparent-border
			color $palmColor
			border 1px solid $palmColor
		&.more_information
			color $palmColor
			&:after
				border-bottom 1px solid $palmColor
		&.btn.btn-transparent-white.btn-transparent-flat
			&:hover
				color $palmColor
				background white
	.gradient-after
		&:after
			background rgba($palmColor, 0.45)
		&-strong
			&:after
				background rgba($palmColor, 0.6)
	.title--section
		color $palmColor
		&:after
			border-bottom 1px solid $palmColor

	//booking
	.select2
		&-container
			&--custom-select--adultos_ninos
				.select2-dropdown
					color $palmColor
				.select2-results__option--highlighted
					color white
					background $palmColor
	.date-picker-wrapper
		.month-wrapper table .day
			&.checked
				background-color rgba($palmColor, .8) 
				color white !important
			&.toMonth.hovering
				background-color rgba($palmColor, .6)
				color white !important
			&.real-today
				background-color $palmColor
				color white !important
		.first-date-selected
		.last-date-selected
			background-color $palmColor !important
		.date-range-length-tip
			background-color $palmColor
			color white
			&:after
				border-top 4px solid $palmColor
	.booking
		.btn-reserva-booking
			background  $palmColor
		.title--booking
			+from-width(5)
				color $palmColor
		.booking__cupon
			&__label
				span
					color $palmColor
			&__input
				input
					+from-width(5)
						border 1px solid $palmColor
						color $palmColor
						&::placeholder
							color $palmColor
				&--button
					+from-width(5)
						color $palmColor
		&__home
			+from-width(5)
				.booking-container
					background url('../img/booking/gop-book.png') center no-repeat	
	//menu
	.principal
		background $palmColor
		+from-width(5)
			background none
		.logo_field
			.icon
				color $palmColor
		.lang_d
			> li.language
				.submenu li
					color $palmColor
					&.active
					&:hover
						background $palmColor
	//sections
	.main-section
		&__rooms
			&--room
				.room--description
					h2
						color white
						+from-width(5)
							color $palmColor
		&__rest_y_bares
			#tab1:checked ~ nav .tab1
			#tab2:checked ~ nav .tab2
				&.tabs-image--item.small 
					.tabs-image--item-container
						filter none
						&:after
							background rgba($palmColor, 0.45)
	//mapa
	.map-container_info_hotel
		h3
			color $palmColor				
	//cards
	.card--home--room
		.card--topimage--item
			&__image--buttons
				a
					color $palmColor
					border 1px solid $palmColor
					box-shadow none
					+from-width(4)
						color white
						border 1px solid white
						box-shadow 0 2px 14px 0 rgba(0,0,0,0.1)
	//galeria
	.grid-gallery--item-image
		a:hover
			+from-width(5)
				&:after
					background rgba($palmColor, 0.65)
	//redes sociales
	.footer--redes-sociales
		color $palmColor	
	//newsletter				
	.newsletter
		.btn-newsletter
			background  $palmColor	

.oasis-palm
	.booking__home
		+from-width(5)
			.booking-container
				background url('../img/booking/op-book.png') center no-repeat
				

.oh-cancun
	//misc
	a.btn-reserva
	input.btn-reserva
		background $ohColor
	input
		&.btn-reserva
			border 0
	a
		&.btn-transparent
			color $ohColor
			border 1px solid $ohColor
			box-shadow none
		&.btn-transparent-border
			color $ohColor
			border 1px solid $ohColor
		&.more_information
			color $ohColor
			&:after
				border-bottom 1px solid $ohColor
		&.btn.btn-transparent-white.btn-transparent-flat
			&:hover
				color $ohColor
				background white
	.gradient-after
		&:after
			background rgba($ohColor, 0.45)
		&-strong
			&:after
				background rgba($ohColor, 0.6)
	.title--section
		color $ohColor
		&:after
			border-bottom 1px solid $ohColor

	//booking
	.select2
		&-container
			&--custom-select--adultos_ninos
				.select2-dropdown
					color $ohColor
				.select2-results__option--highlighted
					color white
					background $ohColor
	.date-picker-wrapper
		.month-wrapper table .day
			&.checked
				background-color rgba($ohColor, .8) 
				color white !important
			&.toMonth.hovering
				background-color rgba($ohColor, .6)
				color white !important
			&.real-today
				background-color $ohColor
				color white !important
		.first-date-selected
		.last-date-selected
			background-color $ohColor !important
		.date-range-length-tip
			background-color $ohColor
			color white
			&:after
				border-top 4px solid $ohColor
	.booking
		.btn-reserva-booking
			background  $ohColor
		.title--booking
			+from-width(5)
				color $ohColor
		.booking__cupon
			&__label
				span
					color $ohColor
			&__input
				input
					+from-width(5)
						border 1px solid $ohColor
						color $ohColor
						&::placeholder
							color $ohColor
				&--button
					+from-width(5)
						color $ohColor
		&__home
			+from-width(5)
				.booking-container
					background url('../img/booking/oh-book.png') center no-repeat	
	//menu
	.principal
		background $ohColor
		+from-width(5)
			background none
		.logo_field
			.icon
				color $ohColor
		.lang_d
			> li.language
				.submenu li
					color $ohColor
					&.active
					&:hover
						background $ohColor
	//sections
	.main-section
		&__rooms
			&--room
				.room--description
					h2
						color white
						+from-width(5)
							color $ohColor
		&__rest_y_bares
			#tab1:checked ~ nav .tab1
			#tab2:checked ~ nav .tab2
				&.tabs-image--item.small 
					.tabs-image--item-container
						filter none
						&:after
							background rgba($ohColor, 0.45)
	//mapa
	.map-container_info_hotel
		h3
			color $ohColor				
	//cards
	.card--home--room
		.card--topimage--item
			&__image--buttons
				a
					color $ohColor
					border 1px solid $ohColor
					box-shadow none
					+from-width(4)
						color white
						border 1px solid white
						box-shadow 0 2px 14px 0 rgba(0,0,0,0.1)
	//galeria
	.grid-gallery--item-image
		a:hover
			+from-width(5)
				&:after
					background rgba($ohColor, 0.65)
	//redes sociales
	.footer--redes-sociales
		color $ohColor	
	//newsletter				
	.newsletter
		.btn-newsletter
			background  $ohColor	

.smart-cancun-by-oasis
	//misc
	a.btn-reserva
	input.btn-reserva
		background $smartColor
	input
		&.btn-reserva
			border 0
	a
		&.btn-transparent
			color $smartColor
			border 1px solid $smartColor
			box-shadow none
		&.btn-transparent-border
			color $smartColor
			border 1px solid $smartColor
		&.more_information
			color $smartColor
			&:after
				border-bottom 1px solid $smartColor
		&.btn.btn-transparent-white.btn-transparent-flat
			&:hover
				color $smartColor
				background white
	.gradient-after
		&:after
			background rgba($smartColor, 0.45)
		&-strong
			&:after
				background rgba($smartColor, 0.6)
	.title--section
		color $smartColor
		&:after
			border-bottom 1px solid $smartColor

	//booking
	.select2
		&-container
			&--custom-select--adultos_ninos
				.select2-dropdown
					color $smartColor
				.select2-results__option--highlighted
					color white
					background $smartColor
	.date-picker-wrapper
		.month-wrapper table .day
			&.checked
				background-color rgba($smartColor, .8) 
				color white !important
			&.toMonth.hovering
				background-color rgba($smartColor, .6)
				color white !important
			&.real-today
				background-color $smartColor
				color white !important
		.first-date-selected
		.last-date-selected
			background-color $smartColor !important
		.date-range-length-tip
			background-color $smartColor
			color white
			&:after
				border-top 4px solid $smartColor
	.booking
		.btn-reserva-booking
			background  $smartColor
		.title--booking
			+from-width(5)
				color $smartColor
		.booking__cupon
			&__label
				span
					color $smartColor
			&__input
				input
					+from-width(5)
						border 1px solid $smartColor
						color $smartColor
						&::placeholder
							color $smartColor
				&--button
					+from-width(5)
						color $smartColor
		&__home
			+from-width(5)
				.booking-container
					background url('../img/booking/smart-book.png') center no-repeat	
	//menu
	.principal
		background $smartColor
		+from-width(5)
			background none
		.logo_field
			.icon
				color $smartColor
		.lang_d
			> li.language
				.submenu li
					color $smartColor
					&.active
					&:hover
						background $smartColor
	//sections
	.main-section
		&__rooms
			&--room
				.room--description
					h2
						color white
						+from-width(5)
							color $smartColor
		&__rest_y_bares
			#tab1:checked ~ nav .tab1
			#tab2:checked ~ nav .tab2
				&.tabs-image--item.small 
					.tabs-image--item-container
						filter none
						&:after
							background rgba($smartColor, 0.45)
	//mapa
	.map-container_info_hotel
		h3
			color $smartColor				
	//cards
	.card--home--room
		.card--topimage--item
			&__image--buttons
				a
					color $smartColor
					border 1px solid $smartColor
					box-shadow none
					+from-width(4)
						color white
						border 1px solid white
						box-shadow 0 2px 14px 0 rgba(0,0,0,0.1)
	//galeria
	.grid-gallery--item-image
		a:hover
			+from-width(5)
				&:after
					background rgba($smartColor, 0.65)
	//redes sociales
	.footer--redes-sociales
		color $smartColor	
	//newsletter				
	.newsletter
		.btn-newsletter
			background  $smartColor	