// $gold = #EAD36A

// $gray-db = #DBDBDB
// $gray-95 = #959595
// $gray-f3 = #f3f3f3 
// $gray-9b = #9B9B9B
// $gray-4a = #4A4A4A
// $gray-e0 = #E0E0E0
$gray-32 = #323941
// $smartColor = #83BD40
// $palmColor = #DF2675
// $cancunColor = #E21B23
// $sensColor = #5A4881
// $tulumColor = #00B1B0
// $azulVenta = #006E9A
// $azulPleca = #0F3F53
// $azulPleca2 = #185C65

// //Fuentes
$primary-font ='Raleway', sans-serif;
// $secondary-font = 'Raleway', sans-serif;
// $josefin='Josefin Sans', sans-serif;
// $raleway ='Raleway', sans-serif;
// $lato='Lato', sans-serif;
// $muli='Muli', sans-serif;
// $linearicon='Linearicons-Free', sans-serif;
// $fontawesome='FontAwesome', sans-serif;
// $cinzel = 'Cinzel', sans-serif
// //z-index
$zi-menu=820
// $zi-menu-inner=700
// $zi-booking=800
// $zi-footer=400

$gocText = #D0021B
$gocColor = #D03238