//colors
$gray-32 = #323941 
$gray-3e = #3E4750
$gray-ab = #ABABAB

//hotel colors
$gocColor = #D0021B 
$gocBkg = #D03238
$gocHov = #b30016

$tulumColor = #00AAAB
$tulumBkg = #00AAAB
$tulumHov = #00AAAB

$gosColor = #594883
$gosBkg = #6E57A8
$gosHov = #594883

$black = black
$lemon = #C0E05E
//Fuentes
$primary-font ='Raleway', sans-serif;
$raleway ='Raleway', sans-serif;
$oasis-font = 'oasis-font'
$gotham-light = 'Gotham Light', sans-serif
$gotham-book = 'Gotham Book', sans-serif

//z-index
$zi-menu=820
$zi-booking=800 