//colors
$gray-32 = #323941 
$gray-3e = #3E4750
$gray-ab = #ABABAB

//hotel colors

$pyrColor = black

$skColor = black

$cancunColor = #DD0713 

$sensColor = #5A5086

$tulumColor = #00A6AA

$palmColor = #DE006F

$ohColor = black

$smartColor = #499734

$black = black
$lemon = #C0E05E
//Fuentes
$primary-font ='Raleway', sans-serif;
$raleway ='Raleway', sans-serif;
$oasis-font = 'oasis-font'
$gotham-light = 'Gotham Light', sans-serif
$gotham-book = 'Gotham Book', sans-serif

//z-index
$zi-menu=820
$zi-booking=800 